@import "./modules/tooltip";

:root {
  --light: #F5F5F5;
  --black: #000;
  --blue: #33C3F0;
  --gray: #b3b3b3;
  --blue-light: #d6f6ff;
  --gray-lighten: #D1D1D1;
  --gray-light: #f6f6f6;
  --gray-dark: #222222;
  --white: #fff;
}

.app-todo {
  position: relative;
  max-width: 600px;
  margin: auto;

  h1 {
    font-size: 3rem
  }

  [data-show="hidden"] {
    display: none;
  }

  .taskList {
    &:empty {
      border: none;
    }

    margin: 20px auto;
    max-width: 650px;
    border: 1px solid var(--gray-lighten);
  }

  .item {
    padding: 10px 20px 10px 40px;
    border-bottom: 1px solid var(--gray-lighten);
    background-color: var(--gray-light);

    &:hover {
      background-color: var(--white);
      color: var(--black);
      transition: background-color .5s ease-in-out;
    }

    &:last-child {
      border-bottom: none;
    }

    &.checked {
      background-color: var(--blue);
      color: var(--white);
    }

    &:after {
      content: '□';
      position: absolute;
      top: 10px;
      left: 8px;
      line-height: 35%;
      font-size: 4rem;
      height: 25px;
    }

  }

  .taskDescription {
    padding: 6px 10px;
    height: 150px;
    border: 1px solid var(--gray-lighten);
    background-color: var(--white);
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 1rem;
    overflow: auto;
    resize: vertical;

    li {
      margin-bottom: 0;
    }

    &:focus {
      border: 1px solid var(--blue);
      outline: 0;
    }
  }


  .todo {
    &-title {
      position: relative;
      cursor: pointer;
      margin: 0 0 0 -32px;
      padding-left: 33px;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 700;
      text-overflow: ellipsis;
      z-index: 1;
    }

    &-description {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      max-height: 24px;
      margin: 10px 0 0 -34px;
      padding-left: 34px;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 130%;

      &:before {
        position: absolute;
        content: '→';
        left: 7px;
        top: -2px;
      }
    }

    &-remove {
      position: absolute;
      padding: 5px 10px;
      top: 0;
      right: 0;
      color: var(--black);
      z-index: 100;
      cursor: pointer;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }

      &:after {
        content: "×";
      }
    }
  }

  .toolbar {
    display: flex;
    margin: 0 -3px 10px;

    .button-removeFormat {
      margin-left: auto;
    }
  }

  .button {
    &-toolbar {
      height: 43px;
      font-size: 14px;
      margin: 3px;
      padding: 0 5px;
      letter-spacing: 0;
      font-weight: 100;
    }

    &-text,
    // &-storage,
    &-removeFormat {
      width: 63px;
    }

    &-bold {
      font-weight: 700;
    }

    &-bold,
    &-italic,
    &-insertUnorderedList,
    &-insertOrderedList {
      width: 43px;
    }
  }

  .checked {
    &:before {
      content: '';
      position: absolute;
      border-color: var(--gray-dark);
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
    }

    .todo-title,
    .todo-description {
      text-decoration: line-through;
    }
  }

  .leftTask {
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
  }

  .more .todo-description {
    max-height: 700px;
    white-space: normal;
    text-overflow: initial;
    transition: max-height 1s ease-in-out;
    overflow: auto;
  }

  #light {
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;

    &:after {
      position: absolute;
      content: 'OFF';
      display: inline-block;
      width: 24px;
      height: 24px;
      right: -28px;
    }
  }

  .todo-description,
  .taskDescription {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: var(--gray-light);
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: var(--gray-light);
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--blue);
      border-radius: 10px;
    }
  }

}

.is-todo-on {
  #light {
    color: var(--white);

    &:after {
      content: 'ON'
    }
  }

  color: var(--light);

  .button-toolbar {
    color: var(--light);

    &:focus {
      color: var(--light);
    }
  }

  .item {
    color: var(--gray-dark);
  }

  .taskDescription {
    color: var(--gray-dark)
  }
}