body {
  background-color: whitesmoke;
}

.app-todo {
  position: relative;
  max-width: 600px;
  margin: auto;
}

#taskList {
  &:empty {
    border: none;
  }

  margin: 20px auto;
  max-width: 650px;
  border: 1px solid #cecece;
}


#taskList>div {
  padding: 10px 20px 10px 40px;
  border-bottom: 1px solid #ced4da;

  &:nth-child(2n+1) {
    background-color: #e7e7e7;
  }

  &:hover {
    background-color: whitesmoke;
    color: #000;
    transition: background-color .5s linear;
  }

  &:last-child {
    border-bottom: none;

  }

  &.checked {
    background-color: #888;
    color: #fff;
  }
}

.more .todo-description {
  max-height: 9999px;
  white-space: normal;
  text-overflow: initial;
  transition: max-height 1s ease-in-out;
}

.taskDescription {
  padding: 6px 10px;
  height: 150px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: auto;

  &:focus {
    border: 1px solid #33C3F0;
    outline: 0;
  }
}

.item {
  &:after {
    content: '□';
    position: absolute;
    top: 10px;
    left: 8px;
    line-height: 35%;
    font-size: 4rem;
    height: 25px;
  }

}

input[type=button] {
  &.button-toolbar {
    padding: 0 10px;
    letter-spacing: 0;
  }
}

.todo {
  &-title {
    position: relative;
    cursor: pointer;
    margin: 0 0 0 -32px;
    padding-left: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
  }

  &-description {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    max-height: 24px;
    margin: 10px 0 0 -34px;
    padding-left: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 130%;

    &:before {
      position: absolute;
      content: '→';
      // content: '↓';
      left: 7px;
      top: -2px;
    }
  }



  &-remove {
    position: absolute;
    padding: 5px 10px;
    top: 0;
    right: 0;
    color: #000;
    z-index: 100;
    cursor: pointer;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &:after {
      content: "×";
    }
  }
}

.checked {
  &:before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .todo-title,
  .todo-description {
    text-decoration: line-through;
  }
}

#light {
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
}

#light:after {
  position: absolute;
  content: 'OFF';
  display: inline-block;
  width: 24px;
  height: 24px;
  right: -28px;
}

.is-on #light:after {
  content: 'ON'
}

.is-on {
  #light {
    color: #FFF;
  }

  color: #dbdbdb;

  .item {
    color: #c2c2c2;

    &:nth-child(2n+1) {
      color: #000;
    }
  }

  #taskList {
    border-color: #000;
  }
}

.leftTask {
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
}